{
  "extends": [
    "@commitlint/config-conventional",
    "gitmoji"
  ],
  "rules": {
    "type-enum": [
      2,
      "always"
    ]
  },
  "parserPreset": {
    "parserOpts": {
      "headerPattern": "/^(:w*:)(?:s)(?:((.*?)))?s((?:.*(?=())|.*)(?:(#(d*)))?/",
      "headerCorrespondence": [
        "type",
        "scope",
        "subject",
        "ticket"
      ]
    }
  }
}
